.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
        padding: 25px;
        background-color: #EFEFEF;
    }
    .width {
        width: 100%;
        height: auto;
    }
    .height {
      width:75%;
      height:auto;
      margin-left: auto;
      margin-right: auto;
      display: block
    }
    #picture {
        width: 90%;
        margin: 0 auto;
    }
    .shortened {
      max-width: 500px
    }
    .series-genre {
      display: inline-block;
      margin-right: 10px
    }

#pages, #chapters{
  margin-top: 5px
}
